

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.icon {
	width: 1em; height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
 }
.row{
	    display: flex;
	    display: -webkit-flex;
	    flex-direction: row;
	}
	.column{
	    display: flex;
	    display: -webkit-flex;
	    flex-direction: column;
	}
	.center{
	    display: flex;
	    display: -webkit-flex;
	    justify-content: center;
	    align-items: center;
	}
	.start-start{
	    display: flex;
	    display: -webkit-flex;
	    justify-content: flex-start;
	    align-items: flex-start;
	}
	.start-center{
	    display: flex;
	    display: -webkit-flex;
	    justify-content: flex-start;
	    align-items: center;
	}
	.start-end{
	    display: flex;
	    display: -webkit-flex;
	    justify-content: flex-start;
	    align-items: flex-end;
	}
	.end-start{
	    display: flex;
	    display: -webkit-flex;
	    justify-content: flex-end;
	    align-items: flex-start;
	}
	.end-center{
	    display: flex;
	    display: -webkit-flex;
	    justify-content: flex-end;
	    align-items: center;
	}
	.end-end{
	    display: flex;
	    display: -webkit-flex;
	    justify-content: flex-end;
	    align-items: flex-end;
	}
	.center-start{
	    display: flex;
	    display: -webkit-flex;
	    justify-content: center;
	    align-items: flex-start;
	}
	.center-end{
	    display: flex;
	    display: -webkit-flex;
	    justify-content: center;
	    align-items: flex-end;
	}
	
	.van-toast--default{
	width: 200px;
	height: 200px;
	}
	.van-toast--default .van-toast__icon{
		font-size: 100px;
	}
	.van-toast--default .van-toast__text{
		font-size: 30px;
	}
	.van-toast--text{
		width: auto;
		height: 100px;
		font-size: 30px;
		line-height: 80px;
	}
	.header-top{
		width: 100vw;
		height: 86px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100000;
		background: #4b66af;
	}
	.left-icon{
		width: 14%;
		height: 100%;
		margin-left: 1%;
	}
	.top-title{
		width: 70%;
		height: 100%;
		color: white;
		font-size: 30px;
	}
	.right-icon{
		width: 15%;
		height: 100%;
	}
	.van-tabs--line .van-tabs__wrap{
		height: 80px;
	}
	.van-tab{
		line-height: 80px;
		font-size: 26px;
	}
	.van-button--default{
		color: #ffffff;
		background: #4b66af;
	}